* {
  box-sizing: border-box;
}
.title {
  text-transform: uppercase;
  position: relative;
  transition: all 0.25s linear;
}

.title::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 2px;
  background-color: currentColor;
  left: 0px;
  bottom: -5px;
}

.title:hover {
  border-bottom: 0px solid currentColor;
}
.section {
  margin-top: 10px;
}

.container {
  margin: 0 auto;
  width: 920px;
}

.list {
  /* padding: 0; */
  display: flex;
  gap: 10px 20px;
  padding-left: 20px;
  flex-flow: row wrap;
}

.main {
  display: flex;
  /* flex-direction: column; */
}

.left {
  width: 35%;
  padding: 20px;

  background-color: bisque;
}
.right {
  width: 65%;
  padding: 20px;

  background-color: antiquewhite;
}

/* contacts */
.contacts__img {
  width: 90%;
  display: block;
  padding: 0;
  border-radius: 10px;
}
.contacts__title {
  display: none;
}
.contacts__list {
  margin: 10px;
  padding-left: 0;
  list-style: none;
}
.contacts__item {
  margin-bottom: 5px;
  /* transition: transform 0.25s linear; */
}
.contacts__link {
  text-decoration: none;
  color: black;
}
.contacts__item:hover {
  transform: translate(1em);
}

.tech__item,
.soft__item,
.lang__item {
  flex-basis: 45%;
}

.lang__item > h4 {
  margin: 10px 0 0;
}

.lang__item > p {
  margin: 5px 0 0;
}

.introduce > h1 {
  font-size: 2.5rem;
  margin: 0;
}

/* RIGHT */
.introduce > h2 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 300;
}

.summary {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
}

/* Project expierence */
.projects__list {
  list-style: none;
}

.project {
  position: relative;
  margin-top: 2rem;
  padding-left: 1rem;
}

.project__img {
  position: absolute;
  width: 4rem;
  left: -3.5rem;
}

.project__title,
.project__stack {
  display: inline-block;
  margin: 0;
}

.project__title {
  font-size: 1.1rem;
  margin-right: 2rem;
}
.project__description {
  margin: 0.5rem 0;
}
