:root {
  --main-color: #444;
  --accent-color: #ff5d52;
  --accent-rgb: 255, 93, 82;
  --second-color: #fff;
}

* {
  box-sizing: border-box;
  color: var(--main-color);
  font-family: "Hind Madurai";
  font-size: 1.07rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.soft__item,
.tech__item,
.project__link,
h2 {
  font-family: "Hind Madurai";
}

a {
  font-family: inherit;
  text-decoration: none;
}

p {
  font-family: "Alkatra";
}

.section {
  margin-top: 40px;
}

.title {
  position: relative;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Alkatra", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--accent-color);
  transition: all 0.25s linear;
}

.title::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 2px;
  background-color: currentColor;
  left: 0px;
  bottom: 5px;
}

.title:hover {
  border-bottom: 0px solid currentColor;
}

.container {
  margin: 1rem auto;
  width: 920px;
}

.list {
  display: flex;
  gap: 15px 20px;
  padding-left: 20px;
  flex-flow: row wrap;
}
.mb-5 {
  margin-bottom: 5px;
}

/* HEADER */
.header {
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    180deg,
    var(--accent-color) 0%,
    rgba(var(--accent-rgb), 0.1) 90%
  );
  animation: 3s footer-header ease infinite;
}

/* logo */
.logo__img {
  width: 100px;
}
.logo:hover {
  animation: shake-rotate 1s linear;
}

/* nav */
.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.nav__item {
  padding: 5px;
  transition: all ease 0.25s;
}
.nav__item:hover {
  transform: scale(1.15);
  text-shadow: 0px 0px 15px var(--accent-color);
}

.main {
  background-color: rgba(var(--accent-rgb), 0.03);
  display: flex;
}

.left {
  width: 35%;
  padding-left: 20px;
}
.right {
  width: 65%;
}

.right__wrap {
  padding: 0 20px;
}

/* contacts */
.contacts__img {
  display: block;
  padding: 0;
  border-radius: 10px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-left: 0;
  list-style: none;
}

.contacts__item {
  position: relative;
  width: fit-content;
}
.contacts__item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.contacts__item:hover:before {
  width: 100%;
}
.contacts__item span {
  font-size: 1.2rem;
}

.contacts__link,
.contacts__item:nth-last-of-type(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contacts__icon {
  fill: var(--accent-color);
}

.contacts__icon {
  font-size: 1rem;
  font-weight: 500;
}

.tech__list,
.soft__list {
  list-style: none;
  padding-left: 0;
}
.soft__item {
  width: 100%;
}
.skills__icon {
  transform: translateY(2px);
}

.lang__item,
.tech__item {
  flex-basis: 45%;
}

.lang__item > h4 {
  margin: 8px 0 0;
  font-weight: 600;
}

/* RIGHT */

.introduce {
  position: relative;
  padding: 10px 20px;
  color: var(--second-color);
  background-color: var(--accent-color);
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.8);
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.8);
}

.introduce:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-top: 30px solid rgb(255, 250, 250);
  border-right: 30px solid rgb(255, 250, 250);
  border-bottom: 30px solid;
  border-left: 30px solid; /*Set to background color, not transparent!*/
  -webkit-box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.3);
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.3);
}

.introduce > h1 {
  font-size: 2.7rem;
  font-family: Alkatra;
  color: inherit;
}
.introduce > h2 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 300;
  color: inherit;
}

.summary {
  text-align: justify;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Alkatra";
  color: inherit;
}

/* Project expierence */
.projects__list {
  max-height: 70vh;
  overflow-y: auto;
  padding: 0;
}

.projects__list,
.work__list,
.education__list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.project {
  position: relative;
  margin-top: 1.5rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project__img {
  position: absolute;
  width: 4rem;
  left: -3.35rem;
  object-fit: cover;
}

.project:nth-of-type(1) > .project__img {
  height: 7rem;
}
.project:nth-of-type(2) > .project__img {
  height: 8rem;
}
.project:nth-of-type(3) > .project__img {
  height: 8.5rem;
}
.project:nth-of-type(4) > .project__img {
  top: 20px;
}

.project__stack {
  font-size: 0.95rem;
}

.project__title {
  font-size: 1.2rem;
  margin-right: 2rem;
}


.project__description {
  font:400 1.2rem/1.3 "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0.6rem 0;
}

.project__link {
  color: var(--main-color);
  transition: text-shadow 0.25s linear;
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

.project__link:hover {
  text-shadow: 0px 0px 19px var(--accent-color);
}

/* Work expierence */

.work__item,
.education__item {
  margin: 15px 0 0;
  width: 100%;
}

.work__name {
  margin-top: 5px;
}

.work__description,
.education__desription,
.lang__rate {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.period {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.work__item-list {
  list-style: disc;
  padding-left: 1rem;
}

/* Code example */
.code {
  position: relative;
}

.code__link {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(6px);
  transition: all 0.25s;
}
.code__link:hover {
  transform: scaleY(1.8) translateY(0);
}

pre {
  background-color: rgba(var(--accent-rgb), 0.3);
}

.footer {
  background-image: linear-gradient(
    180deg,
    var(--accent-color) 0%,
    rgba(var(--accent-rgb), 0.1) 90%
  );
  animation: infinite footer-header 3s;
  transform: rotate(180deg);
}
.footer__wrapper {
  height: 100px;
  padding: 30px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(180deg);
}

.footer__list {
  list-style: none;
}
.year {
  font: 1.4em Alkatra;
}

.contacts__icon-invert {
  fill: var(--main-color);
  transition: fill ease 0.25s;
}
.contacts__icon-invert:hover {
  fill: var(--second-color);
}

@keyframes footer-header {
  5% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 88%
    );
  }
  10% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 86%
    );
  }
  15% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 84%
    );
  }
  20% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 82%
    );
  }
  25% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 80%
    );
  }
  30% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 78%
    );
  }
  35% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 76%
    );
  }
  40% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 74%
    );
  }
  45% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 72%
    );
  }
  50% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 70%
    );
  }
  55% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 72%
    );
  }
  60% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 74%
    );
  }
  65% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 76%
    );
  }
  70% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 78%
    );
  }
  75% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 80%
    );
  }
  80% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 82%
    );
  }
  85% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 84%
    );
  }
  90% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 86%
    );
  }
  95% {
    background-image: linear-gradient(
      180deg,
      var(--accent-color) 0%,
      rgba(var(--accent-rgb), 0.1) 88%
    );
  }
}

@keyframes shake-rotate {
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  65% {
    transform: rotate(5deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
